<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.LiuyanMapper" >
  <resultMap id="BaseResultMap" type="com.bs.bean.Liuyan" >
    <id column="liuyan_id" property="liuyanId" jdbcType="INTEGER" />
    <result column="liuyan_title" property="liuyanTitle" jdbcType="VARCHAR" />
    <result column="liuyan_content" property="liuyanContent" jdbcType="VARCHAR" />
    <result column="liuyan_date" property="liuyanDate" jdbcType="VARCHAR" />
    <result column="liuyan_user" property="liuyanUser" jdbcType="VARCHAR" />
    <result column="recontent" property="recontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    liuyan_id, liuyan_title, liuyan_content, liuyan_date, liuyan_user, recontent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bs.bean.LiuyanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from liuyan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from liuyan
    where liuyan_id = #{liuyanId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from liuyan
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*)
    from liuyan
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from liuyan
    limit #{start}, #{size}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from liuyan
    where liuyan_id = #{liuyanId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bs.bean.LiuyanExample" >
    delete from liuyan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bs.bean.Liuyan" >
    insert into liuyan (liuyan_id, liuyan_title, liuyan_content, 
      liuyan_date, liuyan_user, recontent
      )
    values (#{liuyanId,jdbcType=INTEGER}, #{liuyanTitle,jdbcType=VARCHAR}, #{liuyanContent,jdbcType=VARCHAR}, 
      #{liuyanDate,jdbcType=VARCHAR}, #{liuyanUser,jdbcType=VARCHAR}, #{recontent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bs.bean.Liuyan" >
    insert into liuyan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="liuyanId != null" >
        liuyan_id,
      </if>
      <if test="liuyanTitle != null" >
        liuyan_title,
      </if>
      <if test="liuyanContent != null" >
        liuyan_content,
      </if>
      <if test="liuyanDate != null" >
        liuyan_date,
      </if>
      <if test="liuyanUser != null" >
        liuyan_user,
      </if>
      <if test="recontent != null" >
        recontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="liuyanId != null" >
        #{liuyanId,jdbcType=INTEGER},
      </if>
      <if test="liuyanTitle != null" >
        #{liuyanTitle,jdbcType=VARCHAR},
      </if>
      <if test="liuyanContent != null" >
        #{liuyanContent,jdbcType=VARCHAR},
      </if>
      <if test="liuyanDate != null" >
        #{liuyanDate,jdbcType=VARCHAR},
      </if>
      <if test="liuyanUser != null" >
        #{liuyanUser,jdbcType=VARCHAR},
      </if>
      <if test="recontent != null" >
        #{recontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bs.bean.LiuyanExample" resultType="java.lang.Integer" >
    select count(*) from liuyan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update liuyan
    <set >
      <if test="record.liuyanId != null" >
        liuyan_id = #{record.liuyanId,jdbcType=INTEGER},
      </if>
      <if test="record.liuyanTitle != null" >
        liuyan_title = #{record.liuyanTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.liuyanContent != null" >
        liuyan_content = #{record.liuyanContent,jdbcType=VARCHAR},
      </if>
      <if test="record.liuyanDate != null" >
        liuyan_date = #{record.liuyanDate,jdbcType=VARCHAR},
      </if>
      <if test="record.liuyanUser != null" >
        liuyan_user = #{record.liuyanUser,jdbcType=VARCHAR},
      </if>
      <if test="record.recontent != null" >
        recontent = #{record.recontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update liuyan
    set liuyan_id = #{record.liuyanId,jdbcType=INTEGER},
      liuyan_title = #{record.liuyanTitle,jdbcType=VARCHAR},
      liuyan_content = #{record.liuyanContent,jdbcType=VARCHAR},
      liuyan_date = #{record.liuyanDate,jdbcType=VARCHAR},
      liuyan_user = #{record.liuyanUser,jdbcType=VARCHAR},
      recontent = #{record.recontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.bean.Liuyan" >
    update liuyan
    <set >
      <if test="liuyanTitle != null" >
        liuyan_title = #{liuyanTitle,jdbcType=VARCHAR},
      </if>
      <if test="liuyanContent != null" >
        liuyan_content = #{liuyanContent,jdbcType=VARCHAR},
      </if>
      <if test="liuyanDate != null" >
        liuyan_date = #{liuyanDate,jdbcType=VARCHAR},
      </if>
      <if test="liuyanUser != null" >
        liuyan_user = #{liuyanUser,jdbcType=VARCHAR},
      </if>
      <if test="recontent != null" >
        recontent = #{recontent,jdbcType=VARCHAR},
      </if>
    </set>
    where liuyan_id = #{liuyanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.bean.Liuyan" >
    update liuyan
    set liuyan_title = #{liuyanTitle,jdbcType=VARCHAR},
      liuyan_content = #{liuyanContent,jdbcType=VARCHAR},
      liuyan_date = #{liuyanDate,jdbcType=VARCHAR},
      liuyan_user = #{liuyanUser,jdbcType=VARCHAR},
      recontent = #{recontent,jdbcType=VARCHAR}
    where liuyan_id = #{liuyanId,jdbcType=INTEGER}
  </update>
</mapper>