<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.PartymemOutflowMapper" >
  <resultMap id="BaseResultMap" type="com.bs.bean.PartymemOutflow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    <result column="partymem_name" property="partymemName" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="occupation" property="occupation" jdbcType="VARCHAR" />
    <result column="joining_partytime" property="joiningPartytime" jdbcType="VARCHAR" />
    <result column="party_posts" property="partyPosts" jdbcType="VARCHAR" />
    <result column="non_partyduties" property="nonPartyduties" jdbcType="VARCHAR" />
    <result column="outflow_causes" property="outflowCauses" jdbcType="VARCHAR" />
    <result column="outflowtime" property="outflowtime" jdbcType="VARCHAR" />
    <result column="outflow_mechanism" property="outflowMechanism" jdbcType="VARCHAR" />
    <result column="outflow_telephone" property="outflowTelephone" jdbcType="VARCHAR" />
    <result column="originalinstitution_phone" property="originalinstitutionPhone" jdbcType="VARCHAR" />
    <result column="originalinstitution_name" property="originalinstitutionName" jdbcType="VARCHAR" />
    <result column="partymem_remarks" property="partymemRemarks" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="education_level" property="educationLevel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, organization_name, partymem_name, gender, birthday, occupation, joining_partytime, 
    party_posts, non_partyduties, outflow_causes, outflowtime, outflow_mechanism, outflow_telephone, 
    originalinstitution_phone, originalinstitution_name, partymem_remarks, photo, nation, 
    education_level
  </sql>
  <sql id="condition_where">
		<where>
		    <if test="oname != null and oname != ''">
				and organization_name like '%${oname}%'
			</if>
			<if test="name != null and name != ''">
				and partymem_name=#{name}
			</if>
			<if test="birth != null and birth != ''">
				and birthday=#{birth}
			</if>
			<if test="joiningtime != null and joiningtime != ''">
				and joining_partytime=#{joiningtime}
			</if>
			<if test="outfcauses != null and outfcauses != ''">
				and outflow_causes=#{outfcauses}
			</if>
			<if test="outftime != null and outftime != ''">
				and outflowtime=#{outftime}
			</if>
			<if test="educationLevel != null and educationLevel != ''">
				and educationLevel=#{educationLevel}
			</if>
			<if test="nation != null and nation != ''">
				and nation=#{nation}
			</if>
		</where>
	</sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bs.bean.PartymemOutflowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from partymem_outflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from partymem_outflow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from partymem_outflow
    <include refid="condition_where"></include>
    limit #{start}, #{size}
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*)
    <include refid="Base_Column_List" />
    from partymem_outflow
    <include refid="condition_where"></include>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from partymem_outflow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bs.bean.PartymemOutflowExample" >
    delete from partymem_outflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bs.bean.PartymemOutflow" >
    insert into partymem_outflow (id, organization_name, partymem_name, 
      gender, birthday, occupation, 
      joining_partytime, party_posts, non_partyduties, 
      outflow_causes, outflowtime, outflow_mechanism, 
      outflow_telephone, originalinstitution_phone, 
      originalinstitution_name, partymem_remarks, 
      photo, nation, education_level
      )
    values (#{id,jdbcType=INTEGER}, #{organizationName,jdbcType=VARCHAR}, #{partymemName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, 
      #{joiningPartytime,jdbcType=VARCHAR}, #{partyPosts,jdbcType=VARCHAR}, #{nonPartyduties,jdbcType=VARCHAR}, 
      #{outflowCauses,jdbcType=VARCHAR}, #{outflowtime,jdbcType=VARCHAR}, #{outflowMechanism,jdbcType=VARCHAR}, 
      #{outflowTelephone,jdbcType=VARCHAR}, #{originalinstitutionPhone,jdbcType=VARCHAR}, 
      #{originalinstitutionName,jdbcType=VARCHAR}, #{partymemRemarks,jdbcType=VARCHAR}, 
      #{photo,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{educationLevel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bs.bean.PartymemOutflow" >
    insert into partymem_outflow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="organizationName != null" >
        organization_name,
      </if>
      <if test="partymemName != null" >
        partymem_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="occupation != null" >
        occupation,
      </if>
      <if test="joiningPartytime != null" >
        joining_partytime,
      </if>
      <if test="partyPosts != null" >
        party_posts,
      </if>
      <if test="nonPartyduties != null" >
        non_partyduties,
      </if>
      <if test="outflowCauses != null" >
        outflow_causes,
      </if>
      <if test="outflowtime != null" >
        outflowtime,
      </if>
      <if test="outflowMechanism != null" >
        outflow_mechanism,
      </if>
      <if test="outflowTelephone != null" >
        outflow_telephone,
      </if>
      <if test="originalinstitutionPhone != null" >
        originalinstitution_phone,
      </if>
      <if test="originalinstitutionName != null" >
        originalinstitution_name,
      </if>
      <if test="partymemRemarks != null" >
        partymem_remarks,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="educationLevel != null" >
        education_level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="organizationName != null" >
        #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="partymemName != null" >
        #{partymemName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="joiningPartytime != null" >
        #{joiningPartytime,jdbcType=VARCHAR},
      </if>
      <if test="partyPosts != null" >
        #{partyPosts,jdbcType=VARCHAR},
      </if>
      <if test="nonPartyduties != null" >
        #{nonPartyduties,jdbcType=VARCHAR},
      </if>
      <if test="outflowCauses != null" >
        #{outflowCauses,jdbcType=VARCHAR},
      </if>
      <if test="outflowtime != null" >
        #{outflowtime,jdbcType=VARCHAR},
      </if>
      <if test="outflowMechanism != null" >
        #{outflowMechanism,jdbcType=VARCHAR},
      </if>
      <if test="outflowTelephone != null" >
        #{outflowTelephone,jdbcType=VARCHAR},
      </if>
      <if test="originalinstitutionPhone != null" >
        #{originalinstitutionPhone,jdbcType=VARCHAR},
      </if>
      <if test="originalinstitutionName != null" >
        #{originalinstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="partymemRemarks != null" >
        #{partymemRemarks,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="educationLevel != null" >
        #{educationLevel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bs.bean.PartymemOutflowExample" resultType="java.lang.Integer" >
    select count(*) from partymem_outflow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update partymem_outflow
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.organizationName != null" >
        organization_name = #{record.organizationName,jdbcType=VARCHAR},
      </if>
      <if test="record.partymemName != null" >
        partymem_name = #{record.partymemName,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.occupation != null" >
        occupation = #{record.occupation,jdbcType=VARCHAR},
      </if>
      <if test="record.joiningPartytime != null" >
        joining_partytime = #{record.joiningPartytime,jdbcType=VARCHAR},
      </if>
      <if test="record.partyPosts != null" >
        party_posts = #{record.partyPosts,jdbcType=VARCHAR},
      </if>
      <if test="record.nonPartyduties != null" >
        non_partyduties = #{record.nonPartyduties,jdbcType=VARCHAR},
      </if>
      <if test="record.outflowCauses != null" >
        outflow_causes = #{record.outflowCauses,jdbcType=VARCHAR},
      </if>
      <if test="record.outflowtime != null" >
        outflowtime = #{record.outflowtime,jdbcType=VARCHAR},
      </if>
      <if test="record.outflowMechanism != null" >
        outflow_mechanism = #{record.outflowMechanism,jdbcType=VARCHAR},
      </if>
      <if test="record.outflowTelephone != null" >
        outflow_telephone = #{record.outflowTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.originalinstitutionPhone != null" >
        originalinstitution_phone = #{record.originalinstitutionPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.originalinstitutionName != null" >
        originalinstitution_name = #{record.originalinstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="record.partymemRemarks != null" >
        partymem_remarks = #{record.partymemRemarks,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.educationLevel != null" >
        education_level = #{record.educationLevel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update partymem_outflow
    set id = #{record.id,jdbcType=INTEGER},
      organization_name = #{record.organizationName,jdbcType=VARCHAR},
      partymem_name = #{record.partymemName,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      occupation = #{record.occupation,jdbcType=VARCHAR},
      joining_partytime = #{record.joiningPartytime,jdbcType=VARCHAR},
      party_posts = #{record.partyPosts,jdbcType=VARCHAR},
      non_partyduties = #{record.nonPartyduties,jdbcType=VARCHAR},
      outflow_causes = #{record.outflowCauses,jdbcType=VARCHAR},
      outflowtime = #{record.outflowtime,jdbcType=VARCHAR},
      outflow_mechanism = #{record.outflowMechanism,jdbcType=VARCHAR},
      outflow_telephone = #{record.outflowTelephone,jdbcType=VARCHAR},
      originalinstitution_phone = #{record.originalinstitutionPhone,jdbcType=VARCHAR},
      originalinstitution_name = #{record.originalinstitutionName,jdbcType=VARCHAR},
      partymem_remarks = #{record.partymemRemarks,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      nation = #{record.nation,jdbcType=VARCHAR},
      education_level = #{record.educationLevel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.bean.PartymemOutflow" >
    update partymem_outflow
    <set >
      <if test="organizationName != null" >
        organization_name = #{organizationName,jdbcType=VARCHAR},
      </if>
      <if test="partymemName != null" >
        partymem_name = #{partymemName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null" >
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="joiningPartytime != null" >
        joining_partytime = #{joiningPartytime,jdbcType=VARCHAR},
      </if>
      <if test="partyPosts != null" >
        party_posts = #{partyPosts,jdbcType=VARCHAR},
      </if>
      <if test="nonPartyduties != null" >
        non_partyduties = #{nonPartyduties,jdbcType=VARCHAR},
      </if>
      <if test="outflowCauses != null" >
        outflow_causes = #{outflowCauses,jdbcType=VARCHAR},
      </if>
      <if test="outflowtime != null" >
        outflowtime = #{outflowtime,jdbcType=VARCHAR},
      </if>
      <if test="outflowMechanism != null" >
        outflow_mechanism = #{outflowMechanism,jdbcType=VARCHAR},
      </if>
      <if test="outflowTelephone != null" >
        outflow_telephone = #{outflowTelephone,jdbcType=VARCHAR},
      </if>
      <if test="originalinstitutionPhone != null" >
        originalinstitution_phone = #{originalinstitutionPhone,jdbcType=VARCHAR},
      </if>
      <if test="originalinstitutionName != null" >
        originalinstitution_name = #{originalinstitutionName,jdbcType=VARCHAR},
      </if>
      <if test="partymemRemarks != null" >
        partymem_remarks = #{partymemRemarks,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="educationLevel != null" >
        education_level = #{educationLevel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.bean.PartymemOutflow" >
    update partymem_outflow
    set organization_name = #{organizationName,jdbcType=VARCHAR},
      partymem_name = #{partymemName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      joining_partytime = #{joiningPartytime,jdbcType=VARCHAR},
      party_posts = #{partyPosts,jdbcType=VARCHAR},
      non_partyduties = #{nonPartyduties,jdbcType=VARCHAR},
      outflow_causes = #{outflowCauses,jdbcType=VARCHAR},
      outflowtime = #{outflowtime,jdbcType=VARCHAR},
      outflow_mechanism = #{outflowMechanism,jdbcType=VARCHAR},
      outflow_telephone = #{outflowTelephone,jdbcType=VARCHAR},
      originalinstitution_phone = #{originalinstitutionPhone,jdbcType=VARCHAR},
      originalinstitution_name = #{originalinstitutionName,jdbcType=VARCHAR},
      partymem_remarks = #{partymemRemarks,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      education_level = #{educationLevel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>