<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.dao.MovieMapper" >
  <resultMap id="BaseResultMap" type="com.bs.bean.Movie" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="movie_name" property="movieName" jdbcType="VARCHAR" />
    <result column="director" property="director" jdbcType="VARCHAR" />
    <result column="options" property="options" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="downloads" property="downloads" jdbcType="BIGINT" />
    <result column="plays" property="plays" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="mv_type" property="mvType" jdbcType="VARCHAR" />
    <result column="img_type" property="imgType" jdbcType="VARCHAR" />
    <result column="slider_image" property="sliderImage" jdbcType="VARCHAR" />
    <result column="admin_id" property="adminId" jdbcType="INTEGER" />
    <result column="isplay" property="isplay" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, movie_name, director, options, message, downloads, plays, user_id, mv_type, img_type, 
    slider_image, admin_id, isplay
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bs.bean.MovieExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from movie
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getAllVideo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from movie
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from movie
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.bs.bean.MovieExample" >
    delete from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bs.bean.Movie" >
    insert into movie (id, movie_name, director, 
      options, message, downloads, 
      plays, user_id, mv_type, 
      img_type, slider_image, admin_id, 
      isplay)
    values (#{id,jdbcType=VARCHAR}, #{movieName,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{options,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, #{downloads,jdbcType=BIGINT}, 
      #{plays,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{mvType,jdbcType=VARCHAR}, 
      #{imgType,jdbcType=VARCHAR}, #{sliderImage,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}, 
      #{isplay,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bs.bean.Movie" >
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="movieName != null" >
        movie_name,
      </if>
      <if test="director != null" >
        director,
      </if>
      <if test="options != null" >
        options,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="downloads != null" >
        downloads,
      </if>
      <if test="plays != null" >
        plays,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mvType != null" >
        mv_type,
      </if>
      <if test="imgType != null" >
        img_type,
      </if>
      <if test="sliderImage != null" >
        slider_image,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="isplay != null" >
        isplay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="movieName != null" >
        #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="options != null" >
        #{options,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="downloads != null" >
        #{downloads,jdbcType=BIGINT},
      </if>
      <if test="plays != null" >
        #{plays,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="mvType != null" >
        #{mvType,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null" >
        #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="sliderImage != null" >
        #{sliderImage,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="isplay != null" >
        #{isplay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bs.bean.MovieExample" resultType="java.lang.Integer" >
    select count(*) from movie
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update movie
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.movieName != null" >
        movie_name = #{record.movieName,jdbcType=VARCHAR},
      </if>
      <if test="record.director != null" >
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.options != null" >
        options = #{record.options,jdbcType=VARCHAR},
      </if>
      <if test="record.message != null" >
        message = #{record.message,jdbcType=VARCHAR},
      </if>
      <if test="record.downloads != null" >
        downloads = #{record.downloads,jdbcType=BIGINT},
      </if>
      <if test="record.plays != null" >
        plays = #{record.plays,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.mvType != null" >
        mv_type = #{record.mvType,jdbcType=VARCHAR},
      </if>
      <if test="record.imgType != null" >
        img_type = #{record.imgType,jdbcType=VARCHAR},
      </if>
      <if test="record.sliderImage != null" >
        slider_image = #{record.sliderImage,jdbcType=VARCHAR},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=INTEGER},
      </if>
      <if test="record.isplay != null" >
        isplay = #{record.isplay,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update movie
    set id = #{record.id,jdbcType=VARCHAR},
      movie_name = #{record.movieName,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      options = #{record.options,jdbcType=VARCHAR},
      message = #{record.message,jdbcType=VARCHAR},
      downloads = #{record.downloads,jdbcType=BIGINT},
      plays = #{record.plays,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      mv_type = #{record.mvType,jdbcType=VARCHAR},
      img_type = #{record.imgType,jdbcType=VARCHAR},
      slider_image = #{record.sliderImage,jdbcType=VARCHAR},
      admin_id = #{record.adminId,jdbcType=INTEGER},
      isplay = #{record.isplay,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.bean.Movie" >
    update movie
    <set >
      <if test="movieName != null" >
        movie_name = #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="director != null" >
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="options != null" >
        options = #{options,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="downloads != null" >
        downloads = #{downloads,jdbcType=BIGINT},
      </if>
      <if test="plays != null" >
        plays = #{plays,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="mvType != null" >
        mv_type = #{mvType,jdbcType=VARCHAR},
      </if>
      <if test="imgType != null" >
        img_type = #{imgType,jdbcType=VARCHAR},
      </if>
      <if test="sliderImage != null" >
        slider_image = #{sliderImage,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="isplay != null" >
        isplay = #{isplay,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.bean.Movie" >
    update movie
    set movie_name = #{movieName,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      downloads = #{downloads,jdbcType=BIGINT},
      plays = #{plays,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      mv_type = #{mvType,jdbcType=VARCHAR},
      img_type = #{imgType,jdbcType=VARCHAR},
      slider_image = #{sliderImage,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER},
      isplay = #{isplay,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>